## Traitement des valeurs manquantes

In [10]:
import pandas as pd
import numpy as np

In [27]:
data = pd.read_csv("../../Data/Dataset_v0.csv",sep=";")

### 1) Catégoriser les types de variables :
 - Categorique ;
 - Numérique ;
 - Distance ;
 - Date

In [32]:
def categorisation(data,date_cols):
    distance = []
    date = []
    numerique = []
    categorique = []
    for col in data.columns:
        if data[col].dtypes == np.object:
            print(str(type(data[col][data[col].first_valid_index()])))
            if str(type(data[col][data[col].first_valid_index()])) == "<class 'list'>":
                distance.append(col)
            elif col in date_cols:
                date.append(col)
            else:
                categorique.append(col)
        else :
            numerique.append(col)
                
    return dict({"numerique":numerique,"categorique":categorique,"date":date,"distance":distance})

In [33]:
feat_cat = categorisation(data,["Listing Date"])
feat_cat

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

{'numerique': ['price',
  'Listing Number',
  'Floor Size',
  'Price per m²',
  'Bathrooms',
  'Reception Rooms',
  'Erf Size',
  'Levies',
  'Rates and Taxes',
  'Bedrooms',
  'Kitchens',
  'Lounges',
  'Dining Rooms',
  'Gardens',
  'Coverage',
  'Office',
  'Domestic Rooms'],
 'categorique': ['name',
  'province',
  'city',
  'address',
  'Type of Property',
  'Street Address',
  'Bedroom',
  'Bathroom 1',
  'Bathroom 2',
  'Kitchen',
  'Other',
  'Parking',
  'Garden',
  'Pool',
  'Security',
  'Health',
  'Food and Entertainment',
  'Shopping',
  'Sports and Leisure',
  'No Transfer Duty',
  'Pets Allowed',
  'Education',
  'Transport and Public Services',
  'Lifestyle',
  'Bedroom 1',
  'Bedroom 2',
  'Bedroom 3',
  'Bedroom 4',
  'Bathroom 3',
  'Dining Room',
  'Garage',
  'Lounge',
  'Bathroom',
  'Special Features',
  'Nearby Public Transport',
  'Description',
  'Family/TV Room',
  'Garage 1',
  'Garage 2',
  'Temperature Control',
  'Style',
  'Facing',
  'Roof',
  'Wall',
  'Window',
  'Entrance Hall',
  'Rooms',
  'Special Feature',
  'Outbuilding',
  'Flatlet',
  'Standalone Building',
  'Internet Access',
  'Wheelchair Accessible',
  'Parking 1',
  'Parking 2'],
 'date': ['Listing Date'],
 'distance': []}

In [3]:
missing = pd.DataFrame([data.isna().sum().values,(data.isna().sum()/data.shape[0]).values],index = ["valeurs manquantes","% valeurs manquantes"] , columns=data.columns)
missing

,Unnamed: 0,name,price,province,city,address,Listing Number,Type of Property,Street Address,Listing Date,...,Standalone Building,Office,Domestic Rooms,Internet Access,Wheelchair Accessible,Parking 1,Parking 2,Price per m\B2,Price per m²,index
valeurs manquantes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3645.000000,0.0,...,4773.00000,4960.00000,4851.000000,4846.000000,4975.000000,4993.000000,4994.000000,4811.000000,4726.000000,0.0
% valeurs manquantes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.689427,0.0,...,0.90278,0.93815,0.917534,0.916588,0.940987,0.944392,0.944581,0.909968,0.893891,0.0

In [4]:
missing.T.describe()

       valeurs manquantes  % valeurs manquantes
count           77.000000             77.000000
mean          3421.961039              0.647241
std           1767.212319              0.334256
min              0.000000              0.000000
25%           2483.000000              0.469643
50%           4192.000000              0.792888
75%           4821.000000              0.911859
max           4994.000000              0.944581

- 25% des colonnes (premier quartile) a moins de 47% de valeurs vides

#### On va donc utiliser ce seuil pour éliminer certaines variables c'est-à-dire garder seulement 1/4 des variables

In [5]:
missing100 = missing.T[missing.T["% valeurs manquantes"]>=0.469643]
print(len(missing100["% valeurs manquantes"]))
(len(missing100["% valeurs manquantes"])/data.shape[1])*100

for i in missing100.T.columns:
    print(i)

57
Street Address
Price per m�
Bedroom
Bathroom 1
Bathroom 2
Kitchen
Reception Rooms
Other
Garden
Pool
Security
Health
Shopping
Sports and Leisure
Levies
No Transfer Duty
Pets Allowed
Kitchens
Lounges
Lifestyle
Bedroom 1
Bedroom 2
Bedroom 3
Bedroom 4
Bathroom 3
Dining Room
Lounge
Bathroom
Dining Rooms
Gardens
Special Features
Nearby Public Transport
Description
Coverage
Family/TV Room
Garage 1
Garage 2
Temperature Control
Style
Facing
Roof
Wall
Window
Entrance Hall
Rooms
Special Feature
Outbuilding
Flatlet
Standalone Building
Office
Domestic Rooms
Internet Access
Wheelchair Accessible
Parking 1
Parking 2
Price per m\B2
Price per m²